/* FONTS USED:
Heading:
font-family: 'Oswald', sans-serif;
Text:
font-family: 'Source Sans Pro', sans-serif;

font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

.App {
  font-family: 'Hind', sans-serif;
}
.title {
  font-family: 'Montserrat', sans-serif;
}