[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
faker = "*"
flask-bcrypt = "*"
requests = "*"
plaid = "*"
plaid-python = "*"
yup = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
